/* Este archivo es para traer todos los archivos que tengamos disponibles en css */

@import url("./variables.css");
@import url("./display.css");
@import url("./buttons.css");

body {
  margin: 0;
  background: var(--main-bg-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  display: grid;
  grid-gap: 6px;
  grid-template-rows: 160px 405px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 12px 8px 32px 05px rgba(31, 38, 135, 0.33);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 15px;
  border-radius: 30px;
}
